# Django
SECRET_KEY=change-moi-en-production
DEBUG=True
ALLOWED_HOSTS=*

# PostgreSQL
POSTGRES_DB=cinevault
POSTGRES_USER=cinevault
POSTGRES_PASSWORD=cinevault
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis / Celery
REDIS_URL=redis://redis:6379/0

# TMDB (https://www.themoviedb.org/settings/api)
TMDB_API_KEY=ta_cle_api_tmdb

# CORS
CORS_ORIGINS=http://localhost:3000

# MinIO (optionnel, prod)
USE_S3=False
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=cinevault
MINIO_ENDPOINT=http://minio:9000
